<div class="pageheader">
    <div ncy-breadcrumb></div>        
</div>
<div class="pagecontent">
    <form name="myForm" ng-submit="vm.save()" autocomplete="off" novalidate>
        <div class="row">
            <div class="col-md-6">
                <section class="tile">
                    <!-- tile header -->
                    <div class="tile-header dvd dvd-btm">
                        <h1>Color</h1>
                    </div>
                    <!-- /tile header -->
                    <!-- tile body -->
                    <div class="tile-body">
                        <div class="form-group">
                            <label>Màu</label>
                            <input type="text" name="name" class="form-control" ng-model="vm.color.name" required>
                        </div>
                        <div class="form-group">
                            <label>Mã: </label>
                            <div class="input-group">
                                <input colorpicker ng-model="vm.color.code" type="text" class="form-control w-md">
                                <span class="input-group-addon" style="background-color: {{vm.color.code}}">#</span>
                            </div>
                            
                        </div>
                    </div>
                    <!-- /tile body -->
                    <!-- tile footer -->
                    <div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
                        <!-- SUBMIT BUTTON -->
                        <a ui-sref="shop.color.create" class="btn btn-info"><i class="fa fa-plus"></i> Tạo mới</a>
                        <button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid">Lưu</button>
                    </div>
                    <!-- /tile footer -->
                </section>
            </div>
        </div>
    </form>
</div>
