<div ui-view>
</div>
<div layout="row">    
    <div flex></div>
    <md-fab-speed-dial md-open="false" md-direction="left" class="md-scale" ng-class="demo.selectedMode">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-primary">
                <md-icon class="material-icons step" aria-label="description">add</md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>            
            <md-button aria-label="New Category" class="md-fab md-accent md-raised md-mini" ng-click="newCategory()">
                <md-tooltip md-direction="{{tooltipDirection}}">
                    Tạo dòng sản phẩm mới
                </md-tooltip>
                <md-icon class="material-icons" aria-label="New Product">add</md-icon>
            </md-button>
            <md-button aria-label="New Product" class="md-fab md-primary md-raised md-mini" ng-click="newProduct()">
                <md-tooltip md-direction="{{tooltipDirection}}">
                    Tạo sản phẩm mới
                </md-tooltip>
                <md-icon class="material-icons" aria-label="New Product">add</md-icon>
            </md-button>
            <md-button aria-label="New Invoice" class="md-fab md-primary md-raised md-mini" ui-sref="shop.invoice.create">
                <md-tooltip md-direction="{{tooltipDirection}}">
                    Tạo hóa đơn mới
                </md-tooltip>
                <md-icon class="material-icons" aria-label="New Invoice">note_add</md-icon>
            </md-button>
            <md-button aria-label="New Cart" class="md-fab md-primary md-raised md-mini" ng-click="newCart()">
                <md-tooltip md-direction="{{tooltipDirection}}">
                    Tạo giỏ hàng mới
                </md-tooltip>
                <md-icon class="material-icons" aria-label="New Cart">shopping_cart</md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>
