<div class="add-nav" ui-view>
    <div class="nav-heading">
        <h3>Order Details : <strong class="text-greensea">#{{vm.order._id}}</strong></h3>
        <div class="controls pull-right">
            <a ui-sref="shop.order.create-invoice({orderId : vm.order._id})" class="btn btn-ef btn-ef-1 btn-ef-1-default btn-ef-1a btn-rounded-20 mr-5" uib-tooltip="Tạo hóa đơn"><i class="fa fa-shopping-basket"></i></a>
            <a ui-sref="shop.order" class="btn btn-ef btn-ef-1 btn-ef-1-default btn-ef-1a btn-rounded-20 mr-5" uib-tooltip="Trở về"><i class="fa fa-arrow-left"></i></a>
            <a ng-click="vm.done()" ng-class="{'btn-primary': vm.order.isLocked}" class="btn btn-ef btn-ef-1 btn-ef-1-default btn-ef-1a btn-rounded-20 mr-5" uib-tooltip="Done"><i class="fa fa-check"></i></a>
            <a href="javascript:window.print()" class="btn btn-ef btn-ef-1 btn-ef-1-default btn-ef-1a btn-rounded-20" uib-tooltip="Print"><i class="fa fa-print"></i></a>
        </div>
    </div>
    <uib-tabset>
        <uib-tab heading="Thông tin">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-md-12">
                    <!-- tile -->
                    <section class="tile time-simple">
                        <!-- tile body -->
                        <div class="tile-body">
                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-md-8">
                                    <p class="text-default lt">Ngày gửi: {{vm.order.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
                                    <p class="text-uppercase text-strong mt-40 mb-0 ">Trạng thái</p>
                                    <h3 class="text-uppercase text-success mt-0 mb-20" ng-if="vm.order.isLocked">Completed</h3>
                                    <h3 class="text-uppercase text-warning mt-0 mb-20" ng-if="!vm.order.isLocked">Pending</h3>
                                    <h3 class="text-uppercase text-danger mt-0 mb-20" ng-if="vm.order.delete">Delete</h3>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4">
                                    <p class="text-uppercase text-strong mb-10">Khách hàng</p>
                                    <ul class="list-unstyled text-default lt mb-20">
                                        <li><strong class="inline-block w-xs">Tên:</strong> {{ vm.order.member.displayName }}</li>
                                        <li><strong class="inline-block w-xs">State:</strong> Vietnam</li>
                                        <li><strong class="inline-block w-xs">ĐT:</strong> {{ vm.order.member.phone }}</li>
                                        <li><strong class="inline-block w-xs">Email:</strong> <a href="mailto:{{ vm.order.member.email }}">{{ vm.order.member.email }}</a></li>
                                    </ul>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->
                            <!-- row -->
                            <div class="row b-t pt-20">
                                <!-- col -->
                                <div class="col-md-3 b-r">
                                    <p class="text-uppercase text-strong mb-10">Thông tin đặt hàng</p>
                                    <ul class="list-unstyled text-default lt mb-20">
                                        <li><strong>ID:</strong> <a href="javascript:;">35651</a></li>
                                        <li>{{vm.order.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</li>
                                        <li>{{ vm.order.firstName + ' ' + vm.order.lastName }}</li>
                                        <li>Vietnam</li>
                                    </ul>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-6 b-r">
                                    <p class="text-uppercase text-strong mb-10 ">
                                        Địa chỉ                                        
                                    </p>
                                    <!-- col -->
                                    <div class="col-md-6">
                                        {{ vm.order.address }}
                                    </div>
                                    <!-- /col -->
                                    <!-- col -->
                                    <div class="col-md-6">
                                        <ul class="list-unstyled text-default lt mb-20">
                                            <li><a href="mailto:{{ vm.order.email }}?subject=feedback" "email me">{{ vm.order.email }}</a></li>
                                            <li>{{ vm.order.phone }}</li>                                            
                                        </ul>
                                    </div>
                                    <!-- /col -->
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-3">
                                    <p class="text-uppercase text-strong mb-10 ">Giao hàng & Thanh toán</p>
                                    <ul class="list-unstyled text-default lt mb-20">
                                        <li><strong>Giao hàng:</strong> N/A</li>
                                        <li><strong>Thanh toán:</strong> N/A</li>
                                    </ul>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->
                    <!-- tile -->
                    <section class="tile tile-simple">
                        <!-- tile body -->
                        <div class="tile-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Product CODE</th>
                                            <th>Product Name</th>
                                            <th>Status</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Size</th>
                                            <th>Discount %</th>
                                            <th>Discount Amount</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.order.products">
                                            <td><a>{{ item.product.product.code }}</a></td>
                                            <td>{{ item.product.product.name }}</td>
                                            <td>                                                
                                                <span ng-if="item.product.available" class="label label-success">Available</span>
                                                <span ng-if="!item.product.available" class="label label-danger">Not available</span>                                                
                                            </td>
                                            <td>{{ item.product.product.priceSell | shopCurrency }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.product.size }}</td>
                                            <td>{{ item.discount }}%</td>
                                            <td>{{ (item.product.product.priceSell * item.quantity * item.discount / 100) | shopCurrency }}</td>
                                            <td>{{ (item.product.product.priceSell * item.quantity) - ((item.product.product.priceSell * item.quantity * item.discount / 100)) | shopCurrency }}</td>
                                        </tr>                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-md-8 col-lg-8">
                    <a ui-sref="shop.order.create-invoice({orderId : vm.order._id})" class="btn btn-primary">Tạo hóa đơn</a>
                </div>
                <div class="col-md-4 price-total">
                    <!-- tile -->
                    <section class="tile tile-simple bg-tr-black lter">
                        <!-- tile body -->
                        <div class="tile-body">
                            <ul class="list-unstyled">
                                <li><strong class="inline-block w-sm mb-5">Subtotal:</strong> {{ vm.totalPrice() | shopCurrency}}</li>
                                <li><strong class="inline-block w-sm mb-5">Shipping:</strong> {{ vm.order.priceShip | shopCurrency }}</li>
                                <li><strong class="inline-block w-sm mb-5">Discount Total:</strong> {{vm.totalDiscount() | shopCurrency}}</li>
                                <li><strong class="inline-block w-sm mb-5">Total Paid:</strong> {{vm.order.totalPaid | shopCurrency}}</li>
                                <li><strong class="inline-block w-sm mb-5">Total Refunded:</strong> {{vm.order.totalRefunded | shopCurrency}}</li>
                                <li>
                                    <strong class="inline-block w-sm">Total Due:</strong>
                                    <h3 class="inline-block text-success">{{ (vm.totalPrice() - vm.totalDiscount()) | shopCurrency }}</h3>
                                </li>
                            </ul>
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </uib-tab>
        <uib-tab heading="Đơn hàng">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-md-12">
                    <!-- tile -->
                    <section class="tile time-simple">
                        <!-- tile body -->
                        <div class="tile-body">
                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-md-8">
                                    <p class="text-default lt">Ngày gửi: {{vm.order.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
                                    <p class="text-uppercase text-strong mt-40 mb-0 ">Trạng thái</p>
                                    <h3 class="text-uppercase text-success mt-0 mb-20" ng-if="vm.order.isLocked">Completed</h3>
                                    <h3 class="text-uppercase text-warning mt-0 mb-20" ng-if="!vm.order.isLocked">Pending</h3>
                                    <h3 class="text-uppercase text-danger mt-0 mb-20" ng-if="vm.order.delete">Delete</h3>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4">
                                    <p class="text-uppercase text-strong mb-10">Khách hàng</p>
                                    <ul class="list-unstyled text-default lt mb-20">
                                        <li><strong class="inline-block w-xs">Tên:</strong> {{ vm.order.member.displayName }}</li>
                                        <li><strong class="inline-block w-xs">State:</strong> Vietnam</li>
                                        <li><strong class="inline-block w-xs">ĐT:</strong> {{ vm.order.member.phone }}</li>
                                        <li><strong class="inline-block w-xs">Email:</strong> <a href="mailto:{{ vm.order.member.email }}">{{ vm.order.member.email }}</a></li>
                                    </ul>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->
                            <!-- row -->
                            <div class="row b-t pt-20">
                                <!-- col -->
                                <div class="col-md-3 b-r">
                                    <p class="text-uppercase text-strong mb-10">Thông tin đặt hàng</p>
                                    <ul class="list-unstyled text-default lt mb-20">
                                        <li><strong>ID:</strong> <a href="javascript:;">35651</a></li>
                                        <li>{{vm.order.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</li>
                                        <li>{{ vm.order.firstName + ' ' + vm.order.lastName }}</li>
                                        <li>Vietnam</li>
                                    </ul>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-6 b-r">
                                    <p class="text-uppercase text-strong mb-10 ">
                                        Địa chỉ                                        
                                    </p>
                                    <!-- col -->
                                    <div class="col-md-6">
                                        {{ vm.order.address }}
                                    </div>
                                    <!-- /col -->
                                    <!-- col -->
                                    <div class="col-md-6">
                                        <ul class="list-unstyled text-default lt mb-20">
                                            <li><a href="mailto:{{ vm.order.email }}?subject=feedback" "email me">{{ vm.order.email }}</a></li>
                                            <li>{{ vm.order.phone }}</li>                                            
                                        </ul>
                                    </div>
                                    <!-- /col -->
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-3">
                                    <p class="text-uppercase text-strong mb-10 ">Giao hàng & Thanh toán</p>
                                    <ul class="list-unstyled text-default lt mb-20">
                                        <li><strong>Giao hàng:</strong> N/A</li>
                                        <li><strong>Thanh toán:</strong> N/A</li>
                                    </ul>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->
                    <!-- tile -->
                    <section class="tile tile-simple">
                        <!-- tile body -->
                        <div class="tile-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Mã hóa đơn</th>
                                            <th>Ngày tạo</th>
                                            <th>Trạng thái</th>
                                            <th>Tổng tiền</th>
                                            <th style="width: 260px">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.listInvoice">
                                            <td><a ui-sref="shop.invoice.view({invoiceId: item._id})">#{{ item._id }}</a></td>
                                            <td>{{ item.createdAt | date : 'dd/MM/yyyy HH:mm:ss' }}</td>
                                            <td><span class="label label-success">Paid</span></td>
                                            <td>{{ item.totalPrice | shopCurrency }}</td>
                                            <td>
                                                <a ui-sref="shop.invoice.view({invoiceId: item._id})" class="btn btn-xs btn-default"><i class="fa fa-search"></i> View</a>
                                                <span class="btn btn-xs btn-primary"><i class="fa fa-envelope"></i> Send</span>
                                                <span ng-if="!item.isLocked" class="btn btn-xs btn-lightred"><i class="fa fa-times"></i> Delete</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </uib-tab>
        <uib-tab heading="Thanh toán">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-md-12">
                    <!-- tile -->
                    <section class="tile time-simple">
                        <!-- tile body -->
                        <div class="tile-body">
                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-md-9">
                                    <p class="text-default lt">Created: January 29, 2015 at 16:58</p>
                                    <p class="text-uppercase text-strong mt-40 mb-0 ">Status</p>
                                    <h3 class="text-uppercase text-success mt-0 mb-20">Completed</h3>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-3">
                                    <p class="text-uppercase text-strong mb-10 ">Customer</p>
                                    <ul class="list-unstyled text-default lt mb-20">
                                        <li><strong class="inline-block w-xs">Name:</strong> John Douey</li>
                                        <li><strong class="inline-block w-xs">State:</strong> Ukraine</li>
                                        <li><strong class="inline-block w-xs">Phone:</strong> 069 654 5662</li>
                                        <li><strong class="inline-block w-xs">Email:</strong> <a href="javascript:;">john.douey@gmail.com</a></li>
                                    </ul>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->
                            <!-- row -->
                            <div class="row b-t pt-20">
                                <!-- col -->
                                <div class="col-md-3 b-r">
                                    <p class="text-uppercase text-strong mb-10 ">Order Details</p>
                                    <ul class="list-unstyled text-default lt mb-20">
                                        <li><strong>ID:</strong> <a href="javascript:;">35651</a></li>
                                        <li>January 29, 2015 at 16:58</li>
                                        <li>John Douey</li>
                                        <li>Ukraine</li>
                                    </ul>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-6 b-r">
                                    <p class="text-uppercase text-strong mb-10 ">
                                        Address
                                        <a href="javascript:;" class="btn btn-default btn-rounded-20 btn-xs pull-right"><i class="fa fa-pencil"></i></a>
                                    </p>
                                    <!-- col -->
                                    <div class="col-md-6">
                                        <ul class="list-unstyled text-default lt mb-20">
                                            <li>John Douey</li>
                                            <li>Vajnorska 512</li>
                                            <li>Bratislava, Bratislava 1</li>
                                            <li>811 09</li>
                                        </ul>
                                    </div>
                                    <!-- /col -->
                                    <!-- col -->
                                    <div class="col-md-6">
                                        <ul class="list-unstyled text-default lt mb-20">
                                            <li>john.douey@gmail.com</li>
                                            <li>655 169 4599</li>
                                        </ul>
                                    </div>
                                    <!-- /col -->
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-3">
                                    <p class="text-uppercase text-strong mb-10 ">Delivery & Payment</p>
                                    <ul class="list-unstyled text-default lt mb-20">
                                        <li><strong>Delivery:</strong> Pick-Up</li>
                                        <li><strong>Payment:</strong> Cash</li>
                                    </ul>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->
                    <!-- tile -->
                    <section class="tile tile-simple">
                        <!-- tile body -->
                        <div class="tile-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Payment ID</th>
                                            <th>Payment Note</th>
                                            <th>Payment Date</th>
                                            <th>Status</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="javascript:;">201500156</a></td>
                                            <td>Payment received for invoice 201500156</td>
                                            <td>Jan 27, 2015</td>
                                            <td><span class="label label-success">Received</span></td>
                                            <td>{{ 264 | currency }}</td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript:;">201500156</a></td>
                                            <td>Payment request sent for invoice 201500156</td>
                                            <td>Jan 26, 2015</td>
                                            <td><span class="label label-default">Sent</span></td>
                                            <td>{{ 264 | currency }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </uib-tab>
        <uib-tab heading="Ghi chú">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-md-3">
                    <!-- tile -->
                    <section class="tile tile-simple">
                        <!-- tile body -->
                        <div class="tile-body">
                            <header class="mb-20">
                                <span class="text-sm text-default lt">Created at: 26 Jan, 2015</span>
                                <span class="pull-right text-sm text-default lt">ID: 266946</span>
                            </header>
                            <h4 class="mt-10">This is Note</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3">
                    <!-- tile -->
                    <section class="tile tile-simple">
                        <!-- tile body -->
                        <div class="tile-body">
                            <header class="mb-20">
                                <span class="text-sm text-default lt">Created at: 26 Jan, 2015</span>
                                <span class="pull-right text-sm text-default lt">ID: 266946</span>
                            </header>
                            <h4 class="mt-10">This is Note</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3">
                    <!-- tile -->
                    <section class="tile tile-simple">
                        <!-- tile body -->
                        <div class="tile-body">
                            <header class="mb-20">
                                <span class="text-sm text-default lt">Created at: 26 Jan, 2015</span>
                                <span class="pull-right text-sm text-default lt">ID: 266946</span>
                            </header>
                            <h4 class="mt-10">This is Note</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3">
                    <!-- tile -->
                    <section class="tile tile-simple">
                        <!-- tile body -->
                        <div class="tile-body">
                            <header class="mb-20">
                                <span class="text-sm text-default lt">Created at: 26 Jan, 2015</span>
                                <span class="pull-right text-sm text-default lt">ID: 266946</span>
                            </header>
                            <h4 class="mt-10">This is Note</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3">
                    <!-- tile -->
                    <section class="tile tile-simple">
                        <!-- tile body -->
                        <div class="tile-body">
                            <header class="mb-20">
                                <span class="text-sm text-default lt">Created at: 26 Jan, 2015</span>
                                <span class="pull-right text-sm text-default lt">ID: 266946</span>
                            </header>
                            <h4 class="mt-10">This is Note</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3">
                    <!-- tile -->
                    <section class="tile tile-simple">
                        <!-- tile body -->
                        <div class="tile-body">
                            <header class="mb-20">
                                <span class="text-sm text-default lt">Created at: 26 Jan, 2015</span>
                                <span class="pull-right text-sm text-default lt">ID: 266946</span>
                            </header>
                            <h4 class="mt-10">This is Note</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3">
                    <!-- tile -->
                    <section class="tile tile-simple no-bg">
                        <!-- tile body -->
                        <div class="tile-body p-0">
                            <a href="javascript:;" class="tile-button bg-white"><i class="fa fa-plus"></i> Add Note</a>
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </uib-tab>
        <uib-tab heading="Lịch sử">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-md-12">
                    <!-- tile -->
                    <section class="tile time-simple">
                        <!-- tile body -->
                        <div class="tile-body">
                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-md-8">
                                    <p class="text-default lt">Ngày gửi: {{vm.order.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
                                    <p class="text-uppercase text-strong mt-40 mb-0 ">Trạng thái</p>
                                    <h3 class="text-uppercase text-success mt-0 mb-20" ng-if="vm.order.isLocked">Completed</h3>
                                    <h3 class="text-uppercase text-warning mt-0 mb-20" ng-if="!vm.order.isLocked">Pending</h3>
                                    <h3 class="text-uppercase text-danger mt-0 mb-20" ng-if="vm.order.delete">Delete</h3>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-4">
                                    <p class="text-uppercase text-strong mb-10">Khách hàng</p>
                                    <ul class="list-unstyled text-default lt mb-20">
                                        <li><strong class="inline-block w-xs">Tên:</strong> {{ vm.order.member.displayName }}</li>
                                        <li><strong class="inline-block w-xs">State:</strong> Vietnam</li>
                                        <li><strong class="inline-block w-xs">ĐT:</strong> {{ vm.order.member.phone }}</li>
                                        <li><strong class="inline-block w-xs">Email:</strong> <a href="mailto:{{ vm.order.member.email }}">{{ vm.order.member.email }}</a></li>
                                    </ul>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->
                            <!-- row -->
                            <div class="row b-t pt-20">
                                <!-- col -->
                                <div class="col-md-3 b-r">
                                    <p class="text-uppercase text-strong mb-10">Thông tin đặt hàng</p>
                                    <ul class="list-unstyled text-default lt mb-20">
                                        <li><strong>ID:</strong> <a href="javascript:;">35651</a></li>
                                        <li>{{vm.order.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</li>
                                        <li>{{ vm.order.firstName + ' ' + vm.order.lastName }}</li>
                                        <li>Vietnam</li>
                                    </ul>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-6 b-r">
                                    <p class="text-uppercase text-strong mb-10 ">
                                        Địa chỉ                                        
                                    </p>
                                    <!-- col -->
                                    <div class="col-md-6">
                                        {{ vm.order.address }}
                                    </div>
                                    <!-- /col -->
                                    <!-- col -->
                                    <div class="col-md-6">
                                        <ul class="list-unstyled text-default lt mb-20">
                                            <li><a href="mailto:{{ vm.order.email }}?subject=feedback" "email me">{{ vm.order.email }}</a></li>
                                            <li>{{ vm.order.phone }}</li>                                            
                                        </ul>
                                    </div>
                                    <!-- /col -->
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-md-3">
                                    <p class="text-uppercase text-strong mb-10 ">Giao hàng & Thanh toán</p>
                                    <ul class="list-unstyled text-default lt mb-20">
                                        <li><strong>Giao hàng:</strong> N/A</li>
                                        <li><strong>Thanh toán:</strong> N/A</li>
                                    </ul>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->
                    <!-- tile -->
                    <section class="tile tile-simple">
                        <!-- tile body -->
                        <div class="tile-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Desription</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="javascript:;">1</a></td>
                                            <td>Order Created</td>
                                            <td>Jan 20, 2015</td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript:;">2</a></td>
                                            <td>Order Received</td>
                                            <td>Jan 20, 2015</td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript:;">2</a></td>
                                            <td>Order Shipped</td>
                                            <td>Jan 21, 2015</td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript:;">2</a></td>
                                            <td>Invoice Created</td>
                                            <td>Jan 21, 2015</td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript:;">2</a></td>
                                            <td>Invoice Sent</td>
                                            <td>Jan 21, 2015</td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript:;">2</a></td>
                                            <td>Payment Received</td>
                                            <td>Jan 23, 2015</td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript:;">2</a></td>
                                            <td>Order Completed</td>
                                            <td>Jan 23, 2015</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /tile body -->
                    </section>
                    <!-- /tile -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </uib-tab>
    </uib-tabset>
</div>
